<%= render partial:"shared/header" %>
<div class='main'>
  <div class="upper-contents">
    <h2 class="upper-title">
      その日の気分に合った<br/>新しい音楽に出会える
    </h2>
  </div>

  <div class="middle-contents">
    <h2 class="middle-title">
      気分が落ち込んだ時、<br/>
      これから頑張らなくてはいけない時、<br/>
      一人でも、大事な人と一緒でも
    </h2>
    <ul class="search-lists">
      </li>
      <li class="list">  
        <h3>
          textから音楽を検索する
        </h3>
        <div class="search-btn">
          <%= link_to "text検索", new_music_path, class: :btn %>
        </div>
      </li>
      <li class="list">
        <h3>
          選択肢から検索する
        </h3>
        <div class="search-btn">
          <%= link_to "select検索", new_select_path, class: :btn %>
        </div>
      </li>
    </ul>
  </div>

  <div class="lower-contents">
    <div class="lower-pic">

    </div>
    <h2 class="lower-title">
      みんなのお勧めを見る
    </h2>
  </div>
</div>
<%= render partial:"shared/footer" %>